# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
.venv-deploy/

# Local secrets
.env

# IDE files
.vscode/
.idea/
tempCodeRunnerFile.py

# OS files
.DS_Store
Thumbs.db

Docker commands.txt